Repository pyccel/pyccel, pull requests merged in 2023-09, with the labels that each got.

#1484 Improve handling of `DottedName` in `_assign_lhs_variable`
  CHANGELOG.md
  pyccel/ast/core.py
  pyccel/ast/datatypes.py
  pyccel/parser/semantic.py
  tests/errors/known_bugs/calls.py
  tests/pyccel/scripts/classes/classes_1.py
  tests/semantic/scripts/calls.py
Labels: Ready_to_merge, urgent, Classes

#1472 Add C support for a class containing only scalar data
  CHANGELOG.md
  pyccel/codegen/printing/ccode.py
  pyccel/parser/semantic.py
  tests/pyccel/scripts/classes/classes_3.py
  tests/pyccel/test_pyccel.py
Labels: Ready_to_merge, urgent, Classes

#1476 Add C support for a class containing `Interfaces`
  CHANGELOG.md
  pyccel/codegen/printing/ccode.py
  tests/pyccel/scripts/classes/generic_methods.py
  tests/pyccel/test_pyccel.py
Labels: Ready_to_merge, Classes

#1510 Add support for type annotations to class methods
  CHANGELOG.md
  ci_tools/git_evaluation_tools.py
  pyccel/ast/headers.py
  pyccel/errors/messages.py
  pyccel/parser/grammar/headers.tx
  pyccel/parser/scope.py
  pyccel/parser/semantic.py
  pyccel/parser/syntactic.py
  pyccel/parser/syntax/headers.py
  tests/codegen/fcode/scripts/classes.py
  tests/codegen/fcode/scripts/classes_2.py
  tests/codegen/fcode/scripts/classes_3.py
  tests/codegen/fcode/scripts/classes_4.py
  tests/codegen/fcode/scripts/decorators.py
  tests/codegen/fcode/scripts/generic_methods.py
  tests/codegen/fcode/scripts/issue_177.py
  tests/errors/known_bugs/context.py
  tests/errors/known_bugs/ex3.py
  tests/errors/known_bugs/ex4.py
  tests/errors/known_bugs/inheritance.py
  tests/errors/semantic/blocking/HEADER_WRONG_NUMBER_TYPES_INCLASS.py
  tests/errors/semantic/blocking/unknown_method.py
  tests/errors/semantic/non_blocking/class_inheritance.py
  tests/parser/test_headers.py
  tests/pyccel/scripts/classes/classes.py
  tests/pyccel/scripts/classes/classes_1.py
  tests/pyccel/scripts/classes/classes_2_C.py
  tests/pyccel/scripts/classes/classes_3.py
  tests/pyccel/scripts/classes/classes_5.py
  tests/pyccel/scripts/classes/generic_methods.py
  tests/semantic/scripts/classes.py
  tests/syntax/scripts/class_member_index.py
  tests/warnings/semantic/HEADER_WRONG_NUMBER_TYPES_INCLASS.py
Labels: Ready_to_merge, Classes, Type specification

#1511 Add support for cmath
  CHANGELOG.md
  ci_tools/bot_messages/bot_commands.txt
  docs/supported-libraries.md
  pyccel/ast/cmathext.py
  pyccel/ast/mathext.py
  pyccel/ast/utilities.py
  pyccel/codegen/printing/ccode.py
  pyccel/codegen/printing/fcode.py
  pyccel/codegen/printing/pycode.py
  pyccel/parser/semantic.py
  tests/epyccel/recognised_functions/test_cmath_funcs.py
  tests/epyccel/recognised_functions/test_math_funcs.py
Labels: Ready_to_merge

#1513 Tidy up Python printing
  CHANGELOG.md
  pyccel/codegen/printing/pycode.py
Labels: Ready_to_merge

#1515 Fix docstring bot
  .github/workflows/docs.yml
Labels: Ready_to_merge, urgent, Bot
